.auth-layout {
    .al-heading {
        text-align: center;
        margin-top: 50px;
        font-size: 16px;
        font-weight: 500;
    }
    .al-children {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
